{{#md-radios selection=gender}}
  <p>{{md-radio value='female' name='Female'}}</p>
  <p>{{md-radio value='male' name='Male'}}</p>
{{/md-radios}}

<button {{action select-gender gender}}>
  Discover Your Vikriti
</button>
