{{#if (eq category 'results')}}
  <ul>
    {{#each-in score.percentages as |dosha values|}}
      <li>
      {{dosha}}
      {{values}} %
      </li>
    {{/each-in}}
  </ul>
{{else}}
  {{question-array questions=categoryQuestions}}
{{/if}}
