<div class="row">
  {{#each-in results as |dosha values|}}
    <div class="col s4 center-align">
      <div class="card blue-grey lighten-5">
        <div class="card-content">
          <span class="card-title">{{dosha}}</span>
          <p class="{{dosha}}-score">{{values}} %</p>
        </div>
      </div>
    </div>
  {{/each-in}}
</div>
