@import 'components/color';
@import 'variables';
@import 'materialize';
@import 'ember-cli-materialize';

// body {
//   font-family: "Courier New", Courier, monospace;
// }

a {
  font-family: "Arial", 'Helvetica Neue', sans-serif;;
}

.brand-logo {
  background-image: url('/assets/images/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 100%;
  min-height: 100%;
}

li.md-fixed-btn .btn-floating {
  overflow: visible;
}

.fab-link-text {
	position: absolute;
	right: 64px;
	padding:0px 0.5rem;
	text-align: right;
	background-color: #323232;
	border-radius: 2px;
	color: #FFF;
	width:auto;
}
