<nav>
   <div class="nav-wrapper container">
     {{link-to 'Dr. Blossom' 'index' class="brand-logo"}}
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       {{!-- <li><a href="sass.html">Sass</a></li>
       <li><a href="badges.html">Components</a></li>
       <li><a href="collapsible.html">JavaScript</a></li> --}}
     </ul>
   </div>
 </nav>

<div class="container">
  <div class="section">
    {{outlet}}

  </div>

  {{!-- ember-cli-materialize modal container --}}
  {{md-modal-container}}


  {{#each flashMessages.queue as |flash|}}
    {{flash-message flash=flash}}
  {{/each}}
</div>
