<div class="row">

  <div class="col s12">
    <h5>Discover your unique constitution and pathway to optimal health</h5>
    <p>This dosha test is based on questions that are centuries old. By answering questions about your physical body, mental characteristics and digestive
tendencies, you can determine your unique balance of doshas.</p>
  </div>
  <div class="col s6">
    <h5>
      Discover Your Prakriti: Lifelong Tendencies
    </h5>
    <p>
      Your prakriti is your natural state. It is determined at the moment of your conception and relates to your genetics.
    </p>

    {{#link-to 'prakriti' 'physical' class="waves-effect waves-light btn"}}
      Get Started
    {{/link-to}}
  </div>

  <div class="col s6">
    <h5>
      Discover Your Vikriti: Current State
    </h5>
      <p>
        Your vikriti is your current state of health, and can fluctuate yearly, monthly daily or even minute to minute. This is a natural part of life.
      </p>


    {{#link-to 'select-gender' class="waves-effect waves-light btn"}}
      Get Started
    {{/link-to}}
  </div>

</div>
