<div class="row">

  <div class="col m6 s12">
    <h5>
      Prakriti: Discover your Ayurvedic Constitution
    </h5>
      <p>
        This self-test will help you evaluate your Ayurvedic constitution or Prakriti. Prakriti, which means “natural state”, is expressed in each of us as the enduring characteristics of body and mind that remain relatively stable once we reach maturity. Knowledge of your constitution is important for understanding how to promote optimal personal health.
      </p>

      <p>
        The quiz is divided into three sections physical, mental, and digestive. Check the boxes that ring true for you, that is all there is to it. It usually takes about 5-10 minutes to complete.
      </p>

      <p>
        When you finish, click the "Get Results" button to discover your constitutional make-up. This will be represented as a ratio of the three Doshas: Vata, Pitta, and Kapha. If you would like to learn more about Ayurveda and the three Doshas go to the <a href="http://www.doctorblossom.com">Dr. Blossom site</a>.
      </p>

    {{#link-to 'prakriti' 'physical' class="waves-effect waves-light btn"}}
      Get Started
    {{/link-to}}
  </div>

  <div class="col m6 s12">
    <h5>
      Vikriti: Discover Your Current Health Status
    </h5>
      <p>
        This self test will help you evaluate signs and symptoms of imbalance in your body and mind. Vikriti, often translated as “current condition”, pertains to health challenges that you are experiencing presently. This knowledge is important for defining your health priorities.
      </p>

      <p>
        This quiz is divided into three sections physical, mental, and digestive with an extra section for women’s health. Check the boxes that are true for you. It usually takes about 5 minutes to complete.
      </p>

      <p>
        When you finish, click the "Get Results" button to discover your Vikriti score.  Scores that range from 0 to 20% represent mild Dosha imbalances, 30-60% represent deeper imbalances, and 70-100% represent very significant imbalances. You can learn about Ayurveda and balancing the three Doshas with diet, lifestyle and yoga practices can be found on the <a href="http://www.doctorblossom.com">Dr. Blossom site</a>.
      </p>
    {{#link-to 'select-gender' class="waves-effect waves-light btn"}}
      Get Started
    {{/link-to}}
  </div>

</div>
