<div class="row">
  <div class="col s6">
    <h5>
      Prakriti Test: Your Constitution
    </h5>
    <p>
      <em>Prakriti</em> means "nature" and refers to your basic constitution. It is determined at the moment of conception and relates to your genetically inherited physical and emotional qualities.
    </p>
    <p>
      Prakriti specifically relates to those qualities, characteristics and tendencies that are enduring. For instance, while you may experience temporary changes, like gaining or losing ten pounds, feeling nervous or irritable, developing a cold or flu, etc., in the natural course of life you will never gain or lose five inches on your height or experience a change of eye color.
    </p>
    <p>
      Prakriti is enlivened and described by three main doshas: Vata, Pitta and Kapha. These are loosely translated as Air, Fire and Earth, respectively. Each of us has all three doshas in our constitution, in unique proportions. In Ayurveda, seven dosha-predominant Prakritis are described: Vata-predominant, Pitta-predominant, Kapha-predominant; three dual Prakritis, where two doshas are equally, or nearly equally predominant: Vata-Pitta predominant, Pitta-Kapha predominant and Vata-Kapha predominant; and one Prakriti that has all three doshas equally prominent: Vata-Pitta-Kapha predominant.
    </p>

    {{#link-to 'prakriti' 'physical' class="waves-effect waves-light btn"}}
      Get Started
    {{/link-to}}
  </div>

  <div class="col s6">
    <h5>
      Vikriti Test: Your Current Condition
    </h5>
    <p>
      <em>Vikriti</em> is a Sanskrit word loosely translated as a "changed condition of body, mind and consciousness." In Ayurveda, it is most often used to describe your current state of health (or ill-health) in relation to your <em>Prakriti</em>, or "natural state."
    </p>

    <p>
      While Prakriti, your natural constitution, remains stable throughout life and encompasses characteristics like eye color and height, Vikriti can fluctuate yearly, monthly, daily or even minute-to-minute. These fluctuations are a constant, healthy part of life. It is not the changes but our resistance or inability to make necessary adjustments to the changes that causes one or more doshas (vata, pitta or kapha) to become imbalanced.
    </p>

    <p>
      The most common way for a dosha to become imbalanced is by increasing beyond its natural equilibrium. The most dominant dosha often increases more quickly than the other doshas because we tend to perpetuate what we know best. This is especially true for vata because it has a mobile quality that makes it quick to vitiate. Gratefully it can be the easiest to bring back to balance, for the same reason.
    </p>

    <p>
      Regardless of your constitution-type, any of the three doshas can increase and when a dosha increases, an environment where disease can flourish is fostered. For example, increased vata may lead to anxiety or nervousness, increased pitta may lead to a skin rash and increased kapha may lead to an overweight condition. These are usually temporary conditions that can be addressed by bringing the doshas back into balance.
    </p>

    <p>
      To help find out if any of your doshas are currently increased and how to bring them back to balance, please take the following short evaluation. Answer the questions based on your current condition rather than according to what is usually true, used to be true or you wish were true.
    </p>

    {{#link-to 'select-gender' class="waves-effect waves-light btn"}}
      Get Started
    {{/link-to}}

  </div>

</div>
